Source: python-otc
Section: python
Priority: optional
Maintainer: Matthias Witte <matthias.witte@g.zamiam.de>
Build-Depends: debhelper (>= 7)
Standards-Version: 3.9.7
Homepage: https://github.com/zamiam69/otc
Vcs-Git: https://github.com/zamiam69/otc.git

Package: python-otc
Priority: optional
Section: python
Architecture: all
Depends: puppet-shade, ${misc:Depends}
Description: OTC python client library
 This package provides a python client library based
 on python-shade for Open Telekom Cloud (OTC) projects.
